#mymenu { margin: 0; padding: 0; }
#mymenu li { margin: 0; padding: 0;
list-style: none; float: left; }
#mymenu li a { display: block; margin: 0 1px 0 0; padding: 4px 10px; width: 200px; background:
#bbbaaa; color: #ffffff; text-align: center; }
#mymenu li a:hover { background: #aaddaa }
#mymenu ul { position: absolute; visibility: hidden; margin: 0; padding: 0; background:
#eeebdd; border: 1px solid #ffffff }
#mymenu ul a { position: relative; display: block; margin: 0; padding: 5px 10px; width: 200px;
text-align: left; background: #eeebdd; color: #000000; }
#mymenu ul a:hover { background: #aaffaa; }
